<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]='loginForm'>
            <div class="form-group">
              <label for="uname1">Email</label>
              <input type="text" formControlName='email' class="form-control rounded-0"  name="email" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName='password' class="form-control rounded-0"  name="password" required>
            </div>
            <button type="button" (click)='onLogin()' class="btn btn-primary float-right">Login</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
      {{loginForm.value | json}}
    </div>
  </div>
</div>