<div [class]="'card border-' + typeClass + ' mb-5'" style="max-width: 18rem;">
  <div class="card-header text-center">{{header}}</div>
  <div [class]="'card-body text-' + typeClass">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{body}}</p>
  </div>
  <div class="card-footer text-center">
    {{footer}}
  </div>
</div>
