<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let event of events">
      <app-card
        [header]="event.header"
        [title]="event.title"
        [body]="event.body"
        [footer]="event.footer"
        [type]="'event'"></app-card>
  </div>
</div>
