<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">MyShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/event" routerLinkActive="active">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active">Special</a>
      </li>
    </ul>
    <ul class="navbar-nav">

      <li>
        <a class="nav-link" *ngIf="!authService.isLogin()" routerLink="/login">Login</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="!authService.isLogin()" routerLink="/register" >Register</a>
      </li>
      <li>
        <a class="nav-link" style="cursor:pointer" *ngIf="authService.isLogin()" (click)="authService.logout()">Logout</a>
      </li>



    </ul>
  </div>
</nav>
