<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup] = "registerForm">
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" formControlName="email" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password"  class="form-control rounded-0"  required>
            </div>
            <div class="form-group">
              <label>Password-Confirm</label>
              <input type="password" formControlName="passwordConfirm" class="form-control rounded-0"  required>
            </div>
            <button type="button" (click)="register()"  class="btn btn-primary float-right">Register</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>
