<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let special of specials">
        <app-card
          [header]="special.header"
          [title]="special.title"
          [body]="special.body"
          [footer]="special.footer"
          [type]="'special'"></app-card>
    </div>
  </div>
